@charset "UTF-8";

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.grid-item {
  //background-color: rgba(212, 212, 212, 0);
  //border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 12px;
  text-align: center;
}

Img {
  width: 50%;
}
